{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-header bg-warning text-dark text-center">
                    <h4 class="mb-0">Cambiar Contraseña</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.old_password.label_tag }} 
                        {{ form.old_password|add_class:"form-control mb-3" }}
                        
                        {{ form.new_password1.label_tag }} 
                        {{ form.new_password1|add_class:"form-control mb-3" }}
                        
                        {{ form.new_password2.label_tag }} 
                        {{ form.new_password2|add_class:"form-control mb-3" }}

                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Guardar nueva contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}